
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"] project</h1>
    <hr class="jumbotron-hr" />
    <h2>Book library ASP.NET Core MVC web project was made for the university course.</h2>
    <p>In this application you can manage books in book library very comfortable.</p>
</div>