
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <hr class="jumbotron-hr" />
    <h2>Irina Telesheva</h2>
    <address>
        <p title="Email">Email:</p>
        <a>irina@email.ua</a>
    </address>
</div>
